- hosts: all
  gather_facts: false 
  become: true
  pre_tasks:
    - name: Wait 5 minutes for SSH connection to be usable
      ansible.builtin.wait_for_connection:
        sleep: 5
        delay: 10
        timeout: 300

    - name: Gather facts
      ansible.builtin.setup:

- name: Install necessary packages
  hosts: machines
  become: true

  tasks:
   - name: Ensure apt cache is updated
     ansible.builtin.apt:
      update_cache: true
      cache_valid_time: 1

   - name: Apt install packages
     ansible.builtin.apt:
       name:
         - build-essential
         - libopenmpi-dev
         - openmpi-bin
         - openmpi-doc
         - sysstat
       state: present

- name: Download, Install, and Setup NPB
  hosts: machines
  become: false
  vars:
    ssh_user: ubuntu
  tasks:
   - name: Pull down NPB 3.4.3
     ansible.builtin.get_url:
       url: "https://www.nas.nasa.gov/assets/npb/NPB3.4.3.tar.gz"
       dest: ~/

   - name: Extract NPB archive
     ansible.builtin.unarchive:
       src: ~/NPB3.4.3.tar.gz
       dest: ~/
       remote_src: true # Src file is on remote machine

   - name: Clean up useless archive
     ansible.builtin.file:
      path: ~/NPB3.4.3.tar.gz
      state: absent

   - name: Rename default build template # Makes the "make" work
     ansible.builtin.copy:
      src: ~/NPB3.4.3/NPB3.4-MPI/config/make.def.template
      dest: ~/NPB3.4.3/NPB3.4-MPI/config/make.def
      remote_src: true

   - name: Create test dirs
     ansible.builtin.file:
       path: /home/ubuntu/npbTests
       state: directory

   - name: Create logging dir
     ansible.builtin.file:
       path: /home/ubuntu/logging
       state: directory

   - name: Create logging output dir
     ansible.builtin.file:
       path: /home/ubuntu/logging/output
       state: directory

   - name: Copy over logging tool
     ansible.builtin.copy:
       src: ../logging/monitor_node.sh
       dest: /home/ubuntu/logging/monitor_node.sh
       mode: preserve

   - name: Copy over baseline measurement tool 
     ansible.builtin.copy:
       src: ../logging/baseline.sh
       dest: /home/ubuntu/logging/baseline.sh
       mode: preserve

   - name: Make necessary tests
     ansible.builtin.shell: >
      make cg CLASS=S; 
      make cg CLASS=W; 
      make cg CLASS=A;
      make cg CLASS=B;
      make cg CLASS=C;
      make cg CLASS=D;
      make cg CLASS=E;
      mv bin/* ~/npbTests;
     args:
      chdir: ~/NPB3.4.3/NPB3.4-MPI
      creates: "{{ ansible_facts.env.HOME }}/npbTests/cg.{{ item }}.x"
     loop:
       - S
       - W
       - A
       - B
       - C
       - D
       - E

   - name: Copy priv key over to host # Makes the "make" work
     ansible.builtin.copy:
      src: keys/clientkey.pem
      dest: ~/.ssh/id_ed25519 # Rename to default ssh priv key name
      remote_src: false
      mode: "0400"
     when: inventory_hostname == groups['machines'][0]

   - name: Disable StrictHostKeyChecking for all users (stops mpirun from hanging)
     become: true
     ansible.builtin.copy:
       dest: /etc/ssh/ssh_config.d/99-nohostkey.conf
       content: |
         Host *
             StrictHostKeyChecking no
             UserKnownHostsFile /dev/null
             LogLevel ERROR
       mode: '0644'

   - name: Clean up now-useless folder
     ansible.builtin.file:
      path: ~/NPB3.4.3
      state: absent

- name: Copy over hosts and test files
  hosts: machines
  become: false
  tasks:
   - name: Copy over hosts
     ansible.builtin.copy:
       src: ../hosts
       dest: ~/hosts
       mode: preserve
     when: inventory_hostname == groups['machines'][0]

   - name: Copy over tests
     ansible.builtin.copy:
       src: ../tests
       dest: ~/
       mode: preserve
     when: inventory_hostname == groups['machines'][0]

   - name: Copy over collect tool
     ansible.builtin.copy:
       src: ../logging/collect.sh
       dest: ~/logging/collect.sh
       mode: preserve
     when: inventory_hostname == groups['machines'][0]
